[user]
name = "Brendan Hansknecht"
email = {{ .email | quote }}

[signing]
behavior = "own"
backend = "gpg"
{{- if and (.personal) (eq .chezmoi.os "darwin") }}
key = "0EA784685083E75B"
{{- else if and (.personal) (eq .chezmoi.os "linux") }}
key = "A199D0660F95F948"
{{- else if not .personal }}
key = "E8C946D3ED233EE0"
{{- end }}

[ui]
default-command = "log"
diff-editor = ":builtin"

[git]
push-bookmark-prefix = "bhansconnect/push-"

[fix.tools.zig-format]
command = ["zig", "fmt", "--stdin"]
patterns = ["glob:'**/*.zig'"]
