# This is Git's per-user configuration file.
[user]
	name = Brendan Hansknecht
	email = {{ .email | quote }}
{{- if .personal }}
{{- /* This is a dumb workaround for now */ -}}
{{- /* Really should store signing key in secret manager of some sort */ -}}
{{- if eq .chezmoi.os "darwin" }}
	signingkey = 0EA784685083E75B
{{- else }}
	signingkey = A199D0660F95F948
{{- end -}}
{{- end }}

[maintenance]
	repo = /Users/bren077s/Projects/roc
[init]
	defaultBranch = main
[commit]
	gpgsign = true
	verbose = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	# pruneTags = true
	all = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[help]
	autocorrect = prompt
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
# Always use SSH
[url "git@github.com:"]
	insteadOf = https://github.com/
