{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "fzf"
brew "gh"
brew "git"
brew "helix"
brew "htop"
brew "jj"
brew "zoxide"
cask "font-hack-nerd-font"
cask "ghostty"
EOF
{{- else if eq .chezmoi.os "linux" -}}
#!/bin/bash

# ghostty, helix, and jj not in apt yet
# Also fzf and zoxide packages can be way to old
sudo apt install -y gh git htop zsh
{{ end -}}
